<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
</head>
<body>
    <form method="post" action="/newuser">
        <label for="id">id</label>
        <input placeholder="enter the id" name="id" type="text">
        <br>
        <br>
        <label for="username">username</label>
        <input placeholder="enter the username" name="username" type="text">
        <br>
        <br>
        <label for="email">email</label>
        <input placeholder="enter the email" name="email" type="text">
        <br>
        <br>
        <label for="password">password</label>
        <input placeholder="enter the password" name="password" type="text">
        <br>
        <br>
        <button>submit</button>
    </form>
</body>
</html>